@import "./variables.less";

button {
  display: inline-block;
  cursor: pointer;
  user-select: none;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  touch-action: manipulation;
}
