@import "./variables.less";

button.icon {
  border: none;
  background-color: transparent;
  border-radius: 2px;
  background-image: none;
  outline: none;
  position: relative;
  padding: 0;

  &:focus, &:hover {
    color: @brand-primary;
  }

  &:active {
    color: darken(@brand-primary, 10%);
    top: 1px;
    left: 1px;
  }

  &[disabled], &.disabled {
    cursor: default;
    color: @gray-lighter;
  }
}
